<%- include('includs/Head_Admin.ejs'); %>

  <div class="position-absolute w-100" style="height: 40vh; background-color: #38B6FF">
    <div class="d-flex gap-3 mx-3" style="height: 100vh;">
      <%- include('includs/SidBar_Admin.ejs'); %>

        <div class="position-relative w-100 ">
          <%- include('includs/Navbar_Admin.ejs'); %>

            <div style="height: 6vh;"></div>
            <!-- les catergorie -->
            <div class=" bg-light w-100 categories  " style="height: 80vh; ">
              <div class="bg-body shadow">
                <div class="d-flex justify-content-between pt-3 p-3 bg-light">
                  <div>
                    <div class="d-flex" role="search">
                      <input class="form-control me-2 shadow-none" type="search" placeholder="Search" id="search"
                        aria-label="Search">
                    </div>
                  </div>
                  <div class=" d-flex justify-content-md-end">
                    <button class="btn shadow-none" style="background:#66c2ff;" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop" type="button"><img
                        src="https://img.icons8.com/avantgarde/30/000000/plus.png" />Add Categories</button>
                  </div>
                </div>
                <table class="table table-sm table-responsive text-center">
                  <thead>
                    <tr>
                      <th class="col-4">Name</th>
                      <th class="col-5">Discrption</th>
                      <th class="col-3"></th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                  <% for(var i=0; i < getallcategories.length; i++) {%>
                    <tr class="item">
                      <td class="d-none id">
                        <%= getallcategories[i].id %>
                      </td>
                      <td class="col-5 name-row name">
                        <%= getallcategories[i].name %>
                      </td>
                      <td class="col-5 discription">
                        <%= getallcategories[i].discription %>
                      </td>
                      <td class="col-3">
                        <div class="d-flex">
                          <button class="btn shadow-none" id="btn-edit" data-bs-toggle="modal" data-bs-target="#edite">
                            <i class="bi bi-pencil-square fs-4" style="color: rgb(9, 187, 98);;"></i></button>
                          <form action="/categories/delete" method="post">
                            <input name="id" type="hidden" value=<%=getallcategories[i].id %>>
                            <button type="submit" class="btn shadow-none" value="id">
                              <i class="bi bi-x-octagon-fill fs-4" style="color:red;"></i>
                            </button>
                          </form>
                        </div>
                      </td>
                    </tr>
                    <% } %>
                      </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
  </div>
  </div>

  <%- include('modals/category.ejs'); %>

    <script>
      // Search
      let searchInput = document.getElementById('search')
      searchInput.addEventListener('input', function () {
        let value = searchInput.value.toUpperCase()
        let columns = [...document.querySelectorAll('.name-row')]
        columns.forEach(column => {
          if (!column.textContent.toUpperCase().trim().startsWith(value)) {
            column.parentElement.style.display = 'none';
          }
          else {
            column.parentElement.style.display = 'table-row';
          }
        })
      })
    </script>



    <%- include('includs/Footer_Admin.ejs'); %>