
  <%- include('includs/Head_Admin.ejs'); %>

  <div class="position-absolute w-100" style="height: 40vh; background-color: #38B6FF">
    <div class="d-flex gap-3 mx-3" style="height: 100vh;">
      <%- include('includs/SidBar_Admin.ejs'); %>

      <div class="position-relative w-100 ">
        <%- include('includs/Navbar_Admin.ejs'); %>

        <div style="height: 6vh;"></div>
        <!-- les commentaires -->
        <div class=" bg-light w-100 commentaires" style="height: 80vh; ">
            <div class="bg-body shadow">
              <div class="d-flex justify-content-center py-4 p-3 bg-light">
                <div class="col-lg-3">
                  <div class="d-flex">
                    <input class="form-control me-2 shadow-none p-2" id="search" type="search" placeholder="Search" aria-label="Search">
                  </div>
                </div>
              </div>
              <table class="table table-sm table-responsive text-center" id="table">
                  <thead>
                    <tr>
                      <th class="col-2">Commentateur</th>
                      <th class="col-4">Article</th>
                      <th class="col-4">Commentaires</th>
                      <th class="col-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<getAllComment.length; i++) { %>
                      <tr class="item">
                        <td class="d-none id"><%= getAllComment[i].id %></td>
                        <td class="col-2 visiteurId"><%= getAllComment[i].visiteurId %></td>
                        <td class="col-2 articleId name-row"><%= getAllComment[i].articleId %></td>
                        <td class="col-6 commentaires"><%= getAllComment[i].commentaire %></td>
                        <td class="col-2">
                          <div class="d-flex">
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#edite"  id="edit-comment"><i class="bi bi-pencil-square fs-4 " style="color: rgb(9, 187, 98);;"></i></button>
                            <form method="post" action="commentaires/delete">
                              <input type="hidden" name="id" value=<%= getAllComment[i].id %>>
                              <button value="id" type="submit" class="btn"><i class="bi bi-x-octagon-fill fs-4 " style="color:red;"></i></button>  
                            </form>
                          </div>  
                        </td>                    
                      </td>
                      </tr>
                    <% } %>
                  </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    
    <%- include('modals/commentaire.ejs'); %>


    <script>
      // Search
      let searchInput = document.getElementById('search')
      searchInput.addEventListener('input', function () {
        let value = searchInput.value.toUpperCase()
        let columns = [...document.querySelectorAll('.name-row')]
        columns.forEach(column => {
          if (!column.textContent.toUpperCase().trim().includes(value)) {
            column.parentElement.style.display = 'none';
          }
          else {
            column.parentElement.style.display = 'table-row';
          }
        })
      })
    </script>
  

  <%- include('includs/Footer_Admin.ejs'); %>