
  <%- include('includs/Head_Admin.ejs'); %>

  <div class="position-absolute w-100" style="height: 40vh; background-color: #38B6FF">
    <div class="d-flex gap-3 mx-3" style="height: 100vh;">
      <%- include('includs/SidBar_Admin.ejs'); %>

      <div class="position-relative w-100 ">
        <%- include('includs/Navbar_Admin.ejs'); %>

        <div style="height: 6vh;"></div>
        <!-- les commentaires -->
        <div class=" bg-light w-100 commentaires" style="height: 80vh; ">
            <div class="bg-body shadow">
              <div class="d-flex justify-content-center py-4 p-3 bg-light">
                <div class="col-lg-3">
                  <div class="d-flex">
                    <input class="form-control me-2 shadow-none p-2" type="search" placeholder="Search" aria-label="Search">
                  </div>
                </div>
              </div>
              <table class="table table-sm table-responsive text-center" id="table">
                  <thead>
                    <tr>
                      <th class="col-2">Commentateur</th>
                      <th class="col-4">Article</th>
                      <th class="col-4">Commentaires</th>
                      <th class="col-2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i<getAllComment.length; i++) { %>
                      <tr>
                        <td class="d-none"><%= getAllComment[i].id %></td>
                        <td class="col-2"><%= getAllComment[i].visiteurId %></td>
                        <td class="col-2"><%= getAllComment[i].articleId %></td>
                        <td class="col-6 commentair"><%= getAllComment[i].commentaire %></td>
                        <td class="col-2">
                          <div class="d-flex">
                            <button class="btn" data-bs-toggle="modal" data-bs-target="#edite_commentair" ><i class="bi bi-pencil-square fs-4 " style="color: rgb(9, 187, 98);;"></i></button>
                            <form method="post" action="commentaires/delete">
                              <input type="hidden" name="id" value=<%= getAllComment[i].id %>>
                              <button value="id" type="submit" class="btn"><i class="bi bi-x-octagon-fill fs-4 " style="color:red;"></i></button>  
                            </form>
                          </div>  
                        </td>                    
                      </td>
                      </tr>
                    <% } %>
                  </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    
  </div>
  
  
  <!-- modal update -->
  <div class="modal fade "  id="edite_commentair" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content " >
        <div class="modal-header  " style="background: #4ba7ed;">
          <h5 class="modal-title" id="edite_comme">Modifier commentaires</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form>  
                <!-- commentaires input -->
                <div class="form-outline mb-3">
                    <label class="form-label" ><strong>commentaires</strong></label>
                  <textarea class="form-control commentaire" name="commentaires" id="commentaires"  rows="4"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn fw-bold editRowBTn" style="background: #4ba7ed;" onclick="editRow()" >Modifier </button>
                  </div>
              </form>
        </div>
        
      </div>
    </div>
  </div>

  <script>
    //AssidBar
    const assidBar = document.getElementById('assidBar');
    const btn_assidBar = document.getElementById('btn_assidBar');
    const icone_menu = document.getElementById('icone_menu');
    btn_assidBar.onclick = function () {
      if (icone_menu.classList.contains('bi-list')) {
        icone_menu.classList.remove('bi-list');
        icone_menu.classList.add('bi-x-lg');
        assidBar.style.removeProperty('display');
        assidBar.setAttribute("style", "display: block !important;");
        assidBar.classList.remove('d-none');
        assidBar.classList.add('d-block');
      } else {
        icone_menu.classList.remove('bi-x-lg');
        icone_menu.classList.add('bi-list');
        assidBar.style.removeProperty('display');
        assidBar.setAttribute("style", "display: none !important;");
      }
    }
   
  // edittable
    let table =document.getElementById("table");
    let rIndex;
    for(let i = 1; i < table.rows.length; i++){
    table.rows[i].onclick = function(){
        rIndex = this.rowIndex;
        console.log(rIndex);
        document.getElementById("commentaires").value = this.cells[3].innerHTML;
    };
}
            
            
// edit the row
function editRow(){
  let valuerpw = table.rows[rIndex].cells[3].innerHTML = document.getElementById("commentaires").value;
    // onclose;
    localStorage.setItem(rIndex,valuerpw)

   
}


    

    
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>

</html>