
  <%- include('includs/Head.ejs') %>

    <!-- NavBar -->
    <%- include('includs/NavBar.ejs') %>

    <!-- Affichage Article -->
    <div class="container d-flex justify-content-center" id="affichage_article">
        <div class="col-5 d-md-flex d-none flex-column align-items-center gap-3">
          <img class="w-75" src="/assets/image-article/article1.jpg" alt="">
          <div class="w-75 d-flex justify-content-between">
            <div class="float-start">
              <div class="btn position-relative">
                <i class="bi bi-hand-thumbs-up h3" type="button"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                  <%= data.comment.length %>
                </span>
              </div>
              <div class="btn position-relative">
                <i class="bi bi-hand-thumbs-down h3" type="button"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                  <%= data.comment.length %>
                </span>
              </div>
            </div>
            <div class="float-end">
              <div class="btn position-relative">
                <i class="bi bi-chat-square-dots h3" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                  <%= data.comment.length %>
                </span>
              </div>
            </div>
          </div>
          <div class="w-75 commentaire gap-3 rounded p-3 shadow-sm" id="add_commontaire1">
            <textarea cols="30" rows="10" placeholder="Message..." style="max-height: 80px;"></textarea>
            <input class="btn btn-primary w-25" type="submit" value="Send">
          </div>
        </div>
        <div class="col-md-7 col-11 d-flex flex-column gap-3">
          <div class="text-start" id="title"><%= data.article.title %></div>
          <div class="d-md-none d-flex flex-column justify-content-center align-items-center gap-3">
            <img class="w-100" src="/assets/image-article/article1.jpg" alt="">
            <div class="w-100 d-flex justify-content-between">
              <div class="float-start">
                <div class="btn position-relative">
                  <i class="bi bi-hand-thumbs-up h3" type="button"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                    <%= data.comment.length %>
                  </span>
                </div>
                <div class="btn position-relative">
                  <i class="bi bi-hand-thumbs-down h3" type="button"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                    <%= data.comment.length %>
                  </span>
                </div>
              </div>
              <div class="float-end">
                <div class="btn position-relative">
                  <i class="bi bi-chat-square-dots h3" onclick="addCommontaire2()" type="button"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                    <%= data.comment.length %>
                  </span>
                </div>
              </div>
            </div>
            <div class="w-100 commentaire gap-3 rounded p-3 shadow-sm" id="add_commontaire2">
              <textarea cols="30" rows="10" placeholder="Message..." style="max-height: 80px;"></textarea>
              <input class="btn btn-primary w-25" type="submit" value="Send">
            </div>
          </div>
          <div id="discription"><%= data.article.discription %></div>
          <div class="d-flex flex-column gap-2" id="commentaires">
            <% if(data.comment.length == 0){ %>
              <p>Pas des commontaire</p>
            <% }else{ %>
              <% for(var i=0; i<data.comment.length; i++){ %>
                <div class="commentaire d-flex flex-column gap-3 rounded px-3 shadow-sm py-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="username"><%= data.comment[i].visiteurId %></div>
                    <div class="date"><%= data.comment[i].createdAt %></div>
                  </div>
                  <div class="text px-2"><%= data.comment[i].commentaire %></div>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create Commentaire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/the-all/addCommentaire" method="post">
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="email" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Name Complete">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
            <textarea class="form-control" name="commentaire" id="exampleFormControlTextarea1" rows="3" placeholder="Commentaire"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<%- include('includs/Footer.ejs') %>