<%- include('includs/Head.ejs') %>


    <!-- NavBar -->
    <%- include('includs/NavBar.ejs') %>

        <!-- Home -->
        <div id="home">
            <!-- Content -->
            <div id="content">
                <div class="w-100 h4 d-md-flex justify-content-center align-items-center px-3" id="content_text">
                    <div>Var Blog = [</div>
                    <div class="d-flex flex-wrap gap-md-2 gap-0">
                        <% for(var i=0; i<2; i++){ %>
                            <span><a href="#blog">
                                    <%= data.category[i].name %>
                                </a></span>
                            <span class="text-dark">','</span>
                        <% } %>
                            <span><a href="#blog">...</a></span>
                    </div>
                    <div>]</div>
                </div>
                <div class="col-md-3 col-8" id="content_search">
                    <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" placeholder="Title Of Blog" aria-label="Username"
                            aria-describedby="addon-wrapping">
                        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-search"></i></span>
                    </div>
                </div>
            </div>
            <!-- Article Tandance -->
            <div class="d-flex justify-content-center">
                <div class="col-md-6 col-11 position-absolute d-flex justify-content-center shadow bg-body"
                    id="article_tandance">
                    <div id="image" class="col-4 d-flex justify-content-center align-items-center">
                        <img src="/assets/image-article/article1.jpg" alt="article-1">
                    </div>
                    <div id="text" class="col-8 d-flex flex-column justify-content-between px-3">
                        <a href="the-all/1" id="title">Title</a>
                        <div id="categorie">Categorie</div>
                        <div id="discription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam modi sunt
                            vel explicabo doloremque.</div>
                        <a href="the-all/1" id="lire_suite">Lire la suite ...</a>
                        <div id="action">
                            <div class="float-start" id="action_avis">
                                <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                            </div>
                            <div class="float-end" id="action_commentaire">
                                <i class="bi bi-chat-square-dots h4" type="button"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blok -->
        <div class="d-flex flex-column justify-content-center align-items-center px-2" id="blog">
            <div class="col-md-10 col-11 d-flex flex-wrap justify-content-center align-items-center gap-md-4 gap-2 shadow rounded p-4"
                id="sidebar_categorie">
                <div>
                    <input type="radio" name="buttonCategorie" value="All" id="all">
                    <label class="btn" for="all">All</label>
                </div>
                <% for(var i=0; i<data.category.length; i++){ %>
                    <div>
                        <input type="radio" name="buttonCategorie" value=<%=data.category[i].id%> id=<%=data.category[i].name%>>
                        <label class="btn" for=<%=data.category[i].name%>><%= data.category[i].name %></label>
                    </div>
                <% } %>
            </div>
            <div class="col-md-11 col-12" id="content">
                <!-- Article -->
                <div class="d-flex flex-wrap justify-content-center align-items-center p-3">
                    <% if(data.article.length>0){ %>
                    <% for(var i=0; i<data.article.length; i++){ %>
                        <div class="col-md-3 col-sm-6 col-6 p-2 articles">
                            <div class="card">
                                <img class="card-img-top" src="/assets/image-article/article1.jpg" alt="article1">
                                <div class="p-2">
                                    <div class="title"><a href="the-all/<%= data.article[i].id %>">
                                            <%= data.article[i].title %>
                                        </a></div>
                                    <div class="categorie">
                                        <%= data.article[i].categoryId %>
                                    </div>
                                    <div class="discription">
                                        <%= data.article[i].discription %>
                                    </div>
                                    <a href="the-all/<%= data.article[i].id %>" class="lire_suite">Lire la suite
                                        ...</a>
                                    <div class="px-2 mt-1" id="action">
                                        <div class="float-start" id="action_avis">
                                            <i class="bi bi-hand-thumbs-up h4" type="button"></i>
                                            <i class="bi bi-hand-thumbs-down h4" type="button"></i>
                                        </div>
                                        <div class="float-end" id="action_commentaire">
                                            <i class="bi bi-chat-square-dots h4" type="button"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    <% }else{ %>
                        <h1 class="my-5">Pas des articles actuellement</h1>
                    <% } %>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- About -->
        <div id="about">
            <div class="text-uppercase" id="title">About Us</div>
            <div class="card col-md-5 col-sm-6 col-11 mt-5">
                <img class="card-img-top rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 200px; height: 200px;" src="/assets/the_all.png" alt="">
                <div class="d-flex flex-column justify-content-center align-items-center gap-3 p-2">
                    <div id="name">The All</div>
                    <div class="w-75 text-center" id="discription">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Perferendis impedit asperiores expedita enim, itaque facilis mollitia sequi unde sunt
                        velit harum quia dolore a in reiciendis excepturi, ipsam hic quis!</div>
                    <div class="px-2 mt-1" id="media">
                        <i class="bi bi-facebook" type="button"></i>
                        <i class="bi bi-instagram" type="button"></i>
                        <i class="bi bi-youtube" type="button"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--About us-->

        <!-- Contact -->
        <div class="d-flex gap-5" id="contact">
            <div class="text-uppercase" id="title">Contact Us</div>
            <div class="w-75 text-center">
                Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you
                within a matter of hours to help you.
            </div>
            <form class="w-75 d-flex flex-column gap-md-5 gap-3" method="POST" action="">
                <div class="row d-flex justify-content-center align-items-center gap-3">
                    <div class="d-flex flex-column gap-4 col-md-5">
                        <div class="form-group">
                            <input class="form-control" name="username" type="text" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="email" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-textarea mb-md-0">
                            <textarea class="form-control" name="message" placeholder="Message..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center"><button class="btn text-uppercase" type="submit">Send Message</button></div>
            </form>
        </div>


        <%- include('includs/Footer.ejs') %>